[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Yad Color Plus
Name[ca]=
Name[cz]=
Name[de]=Yad Color Plus
Name[el]=
Name[es]=
Name[fr]=
Name[fr_BE]=
Name[it]=
Name[ja]=
Name[nl]=
Name[pl]=
Name[pt]=
Name[pt_BR]=
Name[ru]=
Name[sv]=
Comment=Color picker with list.
Comment[ca]=
Comment[de]=Color picker with list.
Comment[el]=
Comment[es]=
Comment[fr]=
Comment[fr_BE]=
Comment[it]=
Comment[ja]=
Comment[nl]=
Comment[pl]=
Comment[pt]=
Comment[pt_BR]=
Comment[ru]=
Comment[sv]=
Categories=Graphics;
Exec=yad-color-plus
Terminal=false
Icon=yad-color-plus
Keywords=Colour;Picker;Palette
NoDisplay=false
StartupNotify=false
StartupWMClass=yad-color-plus
