Source: yad-color-plus
Section: x11
Priority: optional
Maintainer: Melber <melber.mx.linux@gmail.com>
Build-Depends:  debhelper-compat (= 13)
Standards-Version: 4.6.2
Homepage: https://github.com/MelberGithub/yad-color-plus

Package: yad-color-plus
Architecture: all
Depends: yad
Description: color picker with list

